*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    /*background-color: black;*/
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 38px;
}

.nav-list li a{
    text-decoration: none ;
    color: white;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    /*background-color: blue;*/
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border:2px solid gray ;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0,0.7)url('/bg3.jpg');
    background-size: cover;
    background-blend-mode: darken ;
}

.firstSection{
    height:100vh ;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secoundHalf{
    width: 30%;

}

.secoundHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 32px;
}

.text-small{
    font-size: 14.5px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sn{
    padding: 6px 10px;
    vertical-align: middle;
}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-left{
    flex-direction: row-reverse;
}


.paras{
    padding:0 65px ;
}

.sectionSubTag{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}